.search {
  display: none;
}

.inputSearch {
  border: 0;
  width: 0;
  transition: width 0.5s ease-in;
}

.inputSearch:active {
  width: 150px;
}

.inputSearch:focus {
  outline: none;
}

.img-search {
  cursor: pointer;
}

@media (min-width: 700px) {
  .search {
    display: flex;
  }
}
