.posteDate {
  font-size: 0.8rem;
  text-align: right;
}

.postLink {
  font-size: 1rem;
  color: grey;
  cursor: pointer;
  text-decoration: none;
  text-align: right;
}

.postTitle {
  font-size: 2rem;
  text-align: center;
  font-family: "Dancing Script";
  font-weight: medium;
  text-transform: capitalize;
}

.postDescription {
  font-size: 1.2rem;
}

.post {
  margin-left: 10px;
  background: #fbf8f8;
  padding: 15px;
  margin-bottom: 3.2rem;
}

.imgContainer {
  width: 100%;
  margin-top: 10px;
}

.imgContainer img {
  max-width: 100%;
  max-height: 100%;
}
